<div class="text-center">
    <h1 class="display-4"> 
    <p>Информационная система</p> 
    <p>мобильного оператора</p>
    </h1>
    <a type="button" class="btn btn-outline-dark btn-lg" asp-controller="Client" asp-action="">Перейти к приложению</a>
</div>